@model IEnumerable<PetFinderWeb.Models.Person>

@{
    ViewData["Title"] = "List";
    var y = Model.SelectMany(person => person.Pets?.Select(pet => new
    {
        person.Gender,
        person.Location,
        pet.Name,
        pet.Type
    }));


}
<h3>female</h3>
<ul>
    @foreach (var item in y.Where(x => x.Gender == PetFinderCore.Gender.Female))
    {
        <li>
            <b>
                @Html.DisplayFor(modelItem => item.Name)
            </b>
            <span>
                @Html.DisplayFor(modelItem => item.Type)
            </span>
            <span>
                @Html.DisplayFor(modelItem => item.Location)
            </span>
        </li>
    }
</ul>
<h3>Male</h3>
<ul>
    @foreach (var item in y.Where(x => x.Gender == PetFinderCore.Gender.Male))
    {
        <li>
            <b>
                @Html.DisplayFor(modelItem => item.Name)
            </b>
            <span>
                @Html.DisplayFor(modelItem => item.Type)
            </span>
            <span>
                @Html.DisplayFor(modelItem => item.Location)
            </span>
        </li>
    }
</ul>
